#root {
  margin: -10px;
  padding: 0;
  text-align: center;
  height: 100%;
  color:white; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.backgroundIntroPage{ 
  background-image: url("./resources/background.jpg");
  height: 100vb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundContentPage{ 
  background-image: linear-gradient(#2F4530, #145452);
  height: 100vb;
}

.loginArea{
  background-image: url("./resources/background_blurred.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*centering the div in the middle*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*shape*/
  height: 500px;
  width: 800px;
  box-shadow: rgba(0, 0, 0, 1) 25px 25px 50px; border-radius: 20px;
  /*content*/
  align-content: center;
 }

 .descriptionText{
  font-size:x-large;
  margin:30px;
 }

 .loginInput{
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: none;
  background-color: rgba(84, 93, 85, 0.62);
  color:white;
  margin:5px;
  text-align: center;
  font-style: italic;
 }

 .loginInput::placeholder{
  color:white;
 }

 .loginInput:focus{
  outline: none;
  background-color: rgba(128, 142, 130, 0.62);
 }

 .mainButton{
  height: 35px;
  width: 150px;
  border:none;
  border-radius: 35px;
  margin:5px;
  color:rgba(67, 57, 32, 1);
  background-color: rgba(185, 147, 77, 1);
 }

 .mainButton:hover{
  background-color: rgba(252, 221, 164, 1);
 }

 .mainButton:active{
  background-color: rgba(222, 158, 39, 1);
 }

 .linkButton{
  border:none;
  background-color: transparent;
  color:white;
  font-style: italic;
  margin-top: 30px;
 }

 .linkButton:hover{
  text-decoration: underline;
 }

 .backgroundContentPage
 {
  padding: 50px;
  background-image: linear-gradient(#2F4530, #145452);
 }

 .stylizedList{
  margin-top: 70px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .stylizedListButtons{
  flex-basis:25% ;
  margin:30px;
  background-image: url("./resources/background_blurred.JPG");
  border-radius: 30px;
  height:200px;
  color:white;
  font-size: large;
  text-transform: uppercase;
  align-content: center;
  transition: transform 0.3s ease;
 }

 .stylizedListButtons:hover{
  transform: scale(1.1);
 }

 .stylizedListButtons:active{
  background-image: url("./resources/background_blurred.JPG");
  -webkit-filter:contrast(150%);
 }

 .backgroundQuestion{
  background-image: url("./resources/background_question.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  height: 600px;
  width: 800px;
  border-radius: 30px;
  margin-left: 20vw;
  align-content: center;
 }

 .optionsArea{
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
 }

 .optionButton{
  flex-basis: 40%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgba(84, 93, 85, 0.62);
  color:white;
  margin:5px;
  text-align: center;
  font-style: italic;
 }
 .optionButton:hover{
  
 }